{% extends "layout.html" %}

{% block title %}
    SentryD
{% endblock %}

{% block main %}
<div id="debug-container" style="font-size: 28px;">
  <!-- JSON data will be displayed here -->
</div>

<div id="image-container">
    <img id="frontImage" alt="Front Image" style="max-width: 400px; max-height: 400px;">
    <img id="backImage" alt="Back Image" style="max-width: 400px; max-height: 400px;">
</div>
<br>
<h1>SentryD Logs</h1>
<br>
{% for row in rows %}
    <a href="/sentryd/{{ row }}">{{ row }}</a><br>
{% endfor %}
<canvas id="panoramaCanvas" style="width: 100%; height: 400px;"></canvas>

<script>
  let lastAlarmTimestamp = null;

  function fetchData() {
    fetch('sentryjson.json')
      .then(response => response.json())
      .then(data => {
        // Check if the alarm timestamp has changed
        if (lastAlarmTimestamp !== data['SentrydAlarmT']) {
          // Create an HTML string for each key-value pair
          const htmlString = Object.entries(data)
            .map(([key, value]) => `<strong>${key}:</strong> ${value}<br>`)
            .join('');

          // Update the content in the 'debug-container' div
          document.getElementById('debug-container').innerHTML = htmlString;

          // Update the 'src' attribute of the front image
          document.getElementById('frontImage').src = '/images/front_image.jpg';
          // Update the 'src' attribute of the back image
          document.getElementById('backImage').src = '/images/back_image.jpg';

          // Check if the canvas exists
          const canvas = document.getElementById('panoramaCanvas');
          if (canvas) {
            // Load 360-degree image on the canvas
            loadPanoramaImage('/images/360_image.jpg', canvas);
          }

          // Update the last alarm timestamp
          lastAlarmTimestamp = data['SentrydAlarmT'];
        }
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  // Initial fetch
  fetchData();

  // Set up a timer to fetch data every 5 seconds
  setInterval(fetchData, 2000);

  function loadPanoramaImage(imageUrl, canvas) {
    const ctx = canvas.getContext('2d');
    const img = new Image();
    img.src = imageUrl;

    img.onload = function () {
      // Draw the image on the canvas
      ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    };
  }
</script>
{% endblock %}
