{% extends "layout.html" %}

{% block title %}
    Socket Test
{% endblock %}

{% block main %}
<div id="message-container"></div>

<script>
    const socket = io.connect('http://localhost:5000');

    socket.on('message', function (data) {
        const receivedMessage = data;
        const messageContainer = document.getElementById("message-container");
        messageContainer.innerHTML = receivedMessage;
    });

    function sendMessage() {
        const message = document.getElementById('input-message').value;
        socket.emit('message', message);
    }
</script>

<input type="text" id="input-message" placeholder="Type a message">
<button onclick="sendMessage()">Send Message</button>
{% endblock %}
